$colorBlue:#1597b7;
$colorOrange:#e1767c;
$colorlightBlue:#bbe0f2;
$colorGreen:#84b45e;
$colorLightGreen:#6f9a89
$colorPurpel:#c68cb2;
$coloryellow:#e0da44;
$colorLightgrey:#f8f8f8;
$mainBodyfont:'Poppins', sans-serif;
$mediumWeight:500;
$semiWeight:600;
$boldWeight:700;
$header1size:65px;
$header1size:55px;
$header1size:35px;
$header1size:30px;
$header1size:25px;
$header1size:20px;
$bodyTextSize:16px;


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');